<button class = "button" data-method = "create">create</button>
<button class = "button" data-method = "read">read</button>
<button class = "button" data-method = "delete">delete</button>
<div id = "message-area">
</div>